#time-management tr td {
    background-color: white !important;
}
.tableRow { 
    height: 26px;
}
.tableRowTd {
    position:absolute;
    left: 0;
    right: 1px;
} 

.checkbox[for='billible'] + div {
    width: auto !important;
}
.checkbox[for='billible'] + div select {
    min-width: 300px !important;
    width: 500px !important;
}

.control-label[for='ticket'] {
    width: 50px !important;
}
select[name='ticket'] {
    width: 100% !important;
}
.th-container {
    left:0;
    border:1px solid #ddd;
    height: 21px;
    padding-top: 3px;
}
.date-styling {
    width: 75px;
}
.overviewContainer {
    width: auto !important; 
    margin-left: 10px;
}
.total-hours {
    display: inline-block !important;
    background-color: transparent !important;
}
.overview-title {
    font-weight: bold;
}